@font-face {
    font-family: Calibri;
    src: url("./assets/fonts/8277.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Calibri, "Times New Roman", serif;
}

#map-element-id {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.main-logo {
    position: absolute;
    width: 200px;
    right: 15px;
    top: 15px;

    z-index: 1;
}
